h1{
  position: relative;
  text-align: center;
  text-transform: uppercase;
	background: linear-gradient(to right, #0110e4 0%, #e6092e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	
}
.title{
  background: linear-gradient(0.25turn, #9fddf8, #ebf8e1, #f0ffff);
}